.my-navbar{
    width: 100%;
    height: 75px;
}
.name-user-nav{
    display: flex;
    justify-self: center;
    align-items: center;
    margin-right: 20px;
    color: #6eb0e4;
    margin-bottom: 20px;
}